<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>TrainFight</title>

    <link rel="stylesheet" href="/static/styles.css">

	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

	<script src="/static/main.js"></script>
    <script src="/static/user.js"></script>

</head>
<body>
    <section id="connexion">
        pseudo<input type="text" id="pseudo"><br>
        room name<input type="text" id="roomName"><br>
        <button id="createRoom">Créer la room</button>
    </section>
    <section id="waitingRoom" class="hide">
        <div class="playersList">
            <h3>Controller</h3>
            <span id="manager"></span>
            <h3>Perturbateurs</h3>
            <ul id="disruptors"></ul>
        </div>
        <button id="startGame">Commencer</button>
        <button class="shareLink">Partager le lien</button>
    </section>
    <section id="game" class="hide">
        <div class="station" data-id="chatelet">Chatelet</div>
        <div class="station" data-id="nation">Nation</div>
    </section>

</body>
</html>